@charset "utf-8";
body{
	font-family: 'Maven Pro','Noto Sans KR', sans-serif;
	font-size:16px;
	color:#000;
	background:#fff;
}
a,a:link{
	text-decoration:none;
	color:inherit;
}
.notext{
	display:none;
}
/* ===========header============*/
.header_wrapper{
	border-bottom:4px solid #f9c02d;
}
#header{
	width:920px;
	height:200px;
	margin:0 auto;
	position:relative;
}
.top_menu{
	float:left;
}
.top_menu li{
	float:left;
	margin-right:10px;
	line-height:200px;
}
.main_logo{
	position:absolute;
	width:299px;
	height:142px;
	left: 50%;
	bottom:-1px;
	transform:translateX(-50%);
}
.sns_menu{
	float:right;
}
.sns_menu li{
	float:left;
	margin-left:10px;
	line-height:200px;
}
/*=============nav=================*/
.nav{
	text-align:center;
	height:50px;
}
#gnb{
	width:600px;
	margin:0 auto;
}
#gnb li{
	display:inline-block;
	margin:0 5px;
	line-height:50px;
}
#gnb li a:hover{
	color:#000000;
	transition:color 0.3s;
}
#gnb li a {
	font-size:18px;
	color:#f9c02d;
	font-weight:700;
}

/*------------------youtube-Wrapper-----------------*/
.youtube-wrapper{
	position:relative;
}
#youtube-movie{
	width:920px;
	height:460px;
	margin: 0 auto;
	position:relative;
}
#youtube-movie iframe{
	width:100%;
	height:100%;
	border:0;
}
#movie-character{
	position:absolute;
	left:50%;
	top:21.73913043478261%;
	transform:translateX(-50%)
}
/*-----------------------------main----------------*/
.title{
	text-align:center;
	margin-top:160px;
	font-size:30px;
	color:#f9c02d;
	font-weight:bolder;
	position:relative;
	text-transform:capitalize;
	
}
.character{
	width:920px;
	height:306px;
	margin:30px auto;
	font-size:0;
}
.character li{
	/* display:inline-block; */
	/* border:1px solid #f9c02d; */
	/* width:306px; */
	/* height:306px; */
	/* box-sizing:border-box; */
	/* overflow:hidden; */
	float:left;
	border:1px solid #eee;
	overflow:hidden;
	width:306px;
	height:306px;
	box-sizing:border-box;
}
.character li:nth-child(2){
	width:306px;
}
.character li:hover{
	border-color:#f9c02d;
	transition:border-color 0.3s
}
.character li:hover img{
	transition:transform 0.3s;
	transform:scale(1.4,1.4);
}
/*------------------------banner---------------------*/

.banner_wrapper {
	background:#f9c02d;
}
.banner{
	background:#f9c02d;
	text-align:center;
}
/*-----------------------footer---------------------*/
#footer{
	/* 블럭요소 가로폭: 100%(기본값) */
	max-width:920px; /*최대지정*/
	padding:15px 0;
	margin:0 auto;
	position:relative;
}
.extra_menu li{
	display:inline-block;
	margin-top:30px;
}
.extra_menu li:nth-child(2):before{
	content:'';
	width:1px;
	height:15px;
	display:inline-block;
	background:#333;
	margin:0 5px;
}
.extra_menu li:nth-child(2):after{
	content:'';
	width:1px;
	height:15px;
	display:inline-block;
	background:#888;
	margin:0 5px;
}
.extra_menu li a{
	font-size:15px;
	color:#888;
}
.extra_menu li a:hover{
	color:#000;
	transition:color 0.3s;
}
.sub_logo{
	position:absolute;
	top:40%;
	right:0;
	transform:translateY(-50%);
}
.copy{
	margin:20px 0;
	font-size:11px;
	color:#888;
}

/* ============about page============= */
.about_wrapper{
	max-width: 920px;
	margin: 0 auto;
}
.sub_title{
	border-left: 7px solid #c4c4c4;
	padding-left: 15px;
	line-height: 30px;
}
.sub_title + p{ /* + : 다음에 오는 형재 요소 선택자*/
	margin: 30px 0;
	line-height: 1.7;
}
#synopImg img{
	max-width: 100%;
}
figcaption{
	display: none; /* 공간마저 남기지 않고 없앰, 표시를 아예 안함 */
	visibility: hidden; /* 공간은 표시하고 내용은 표시하지 않음 */
}
#ciList{
	display: flex;
	justify-content: space-between;
}
#ciList li{
	position: relative;
}
#ciList .outlink{
	display: none;
	color: #f3f3f3;
	font-size: 2rem;
	position: absolute;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	left: 50%;
	top:50%;
	transform:translate(-50%,-50%) ;
	background-color: rgba(0,0,0,.5);
}
.hide{
	display: none;
}
#ciList > li:hover .outlink{
	display: block;
}
.about_chars {
	display: flex;
	flex: 1 1 auto;
	margin: 20px 0;
}
.about_chars img{
	max-width: 100%;
}
.about_chars li{
	position: relative;
}
.about_chars .plus{
	display: none;
	color: #f3f3f3;
	font-size: 2rem;
	text-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	position: absolute;
	top:50%;
	left: 50%;
	border-radius: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,.5);
}
.about_chars > li:hover .plus{
	display: block;
}









